.circle{
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
}
.button{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
}